#contact-form {
  background-color: #f8f9fa; /* Светлый фон */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Лёгкая тень */
}

#contact-form h2 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #343a40; /* Тёмный цвет текста */
}

#contact-form .form-control {
  border: 1px solid #ced4da;
  border-radius: 4px;
}
